@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body {
    margin: 0px;
    padding: 24px 64px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(179, 131, 224);
    gap: 24px;
    font-family: serif;
}

#gridofsquares {
    display: flex;
    flex-direction: column;
    height: 757px;
    width: 757px;
    padding: 0px;
    border: 5px solid white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    gap: 0px;
    background-color: white;
    justify-content: space-between;
    align-items: stretch;
}